mixin navlink(linkUrl, glyph, label)
  li(class= url.startsWith(linkUrl) ? 'active' : null)
    a(href=linkUrl)
      i.glyphicon(class=`glyphicon-${glyph}`)
      = ' ' + label

mixin tagField(id)
  - const rawTags = typeof query.tags === 'string' ? query.tags.split(/[,\s]+/) : query.tags
  - const queryTags = (rawTags || []).filter(Boolean)
  - const fieldTags = [...new Set((tags || []).concat(queryTags).sort())]
  select.form-control(id=id name="tags" multiple)
    each tag in fieldTags
      option(selected=queryTags.includes(tag))= tag
