//- Page d'accueil
//- ==============

//- Notez le recours à `extend` et aux blocs pour la mise en place d'un layout,
//- puisque Express 3.x n'utilise plus automatiquement `layout.jade`.  Ceci dit c'est
//- plus flexible (choix du layout suivant la vue + injection possible de contenus en
//- plusieurs points du layout à l'aide de blocs dédiés).
extend _layout

block content
  if user
    h1 Bienvenue dans #{title}, #{user.name} !

    p Envie de <a href="/entries">consulter les bookmarks</a> ?
  else
    h1 Bienvenue dans #{title}

    p.text-center
      a.btn.btn-lg.btn-primary(href="/users/get-in/twitter") Connectez-vous avec Twitter
      | &nbsp;&nbsp;&nbsp;
      a.btn.btn-lg.btn-primary(href="/users/get-in/facebook") Connectez-vous avec Facebook
